<h1>Add Customer</h1>

<form method="post" action="/CustomerAdded">
  Person Number: <input type="text" name="add-person-number"><p>
  Name: <input type="text" name="add-name"><p>
  Address: <input type="text" name="add-address"><p>
  Postal Address: <input type="text" name="add-postal-address"><p>
  Phone Number: <input type="text" name="add-phone-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>


