<h1>Editing Customer</h1>

<form method="post" action="/CustomerEdited">
  Name: <input type="text" name="edit-name"><p>
  Address: <input type="text" name="edit-address"><p>
  Postal Address: <input type="text" name="edit-postal-address"><p>
  Phone Number: <input type="text" name="edit-phone-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>