<h1>Edit Customer</h1>

<form method="post" action="/EditingCustomer">
  Person Number: <input type="text" name="edit-person-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>