<h1>Remove Customer</h1>

<form method="post" action="/CustomerRemoved">
  Person Number: <input type="text" name="add-person-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>