<h1>End Rental</h1>

<form method="post" action="/RentalEnded">
  Registration Number: <input type="text" name="end-rental-reg-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>