<h1>Start Rental</h1>

<form method="post" action="/RentalStarted">
  Person Number: <input type="text" name="rental-person-number"><p>
  Registration Number: <input type="text" name="rental-reg-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>


