<h1>Add Customer</h1>

<form method="post" action="/CustomerAdded">
  Person Number: <input type="text" name="person-number"><p>
  Name: <input type="text" name="name"><p>
  Address: <input type="text" name="address"><p>
  Postal Address: <input type="text" name="postal-address"><p>
  Phone Number: <input type="text" name="phone-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>


