<h1>Main Menu</h1>

<h4>***** Customer *****</h4>
<form method="post" action="/AddCustomer">
  <input type="submit" value="Add Customer">
</form>
<form method="post" action="/EditCustomer">
  <input type="submit" value="Edit Customer">
</form>
<form method="post" action="/RemoveCustomer">
  <input type="submit" value="Remove Customer">
</form>
<form method="post" action="/ListCustomers">
  <input type="submit" value="List All Customers">
</form>

<h4>***** Car *****</h4>
<form method="post" action="/AddCar">
  <input type="submit" value="Add Car">
</form>
<form method="post" action="/EditCar">
  <input type="submit" value="Edit Car">
</form>
<form method="post" action="/RemoveCar">
  <input type="submit" value="Remove Car">
</form>
<form method="post" action="/ListCars">
  <input type="submit" value="List All Cars">
</form>

<h4>***** Rental *****</h4>
<form method="post" action="/StartRental">
  <input type="submit" value="StartRental">
</form>
<form method="post" action="/EndRental">
  <input type="submit" value="End Rental">
</form>
<form method="post" action="/CurrentRental">
  <input type="submit" value="Current Rent Out">
</form>
<form method="post" action="/History">
  <input type="submit" value="History">
</form>