<h1>Add Car</h1>

<form method="post" action="/CarAdded">
  Registration Number <input type="text" name="add-reg-number"><p>
  Make: <input type="text" name="add-make"><p>
  Color: <input type="text" name="add-color"><p>
  Year: <input type="text" name="add-year"><p>
  Price /hour: <input type="text" name="add-price"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>


