<h1>Editing Car</h1>

<form method="post" action="/CarEdited">
  Make: <input type="text" name="edit-make"><p>
  Color: <input type="text" name="edit-color"><p>
  Year: <input type="text" name="edit-year"><p>
  Price /hour: <input type="text" name="edit-price"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>