<h1>Edit Car</h1>

<form method="post" action="/CarEditing">
  Registration Number: <input type="text" name="edit-reg-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>