<h1>Remove Car</h1>

<form method="post" action="/CarRemoved">
  Person Number: <input type="text" name="remove-reg-number"><p>
  <input type="submit" value="Submit">
</form>

<form method="post" action="/">
    <input type="submit" value="Main Menu">
</form>